html{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 24px;
  color: #fff;
}

html, body{
  margin: 0;
  padding: 0;
}

body{
  padding: 2rem;
  background-color: rgb(39, 89, 215);
}

main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}

section:first-child{
  border-right: 1px solid #fff;
}

#temperature_2m{
  font-size: 6rem;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

section:nth-child(2){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div{
  padding: 1rem 0;
}

div p{
  margin: 0 0 0.5rem 0;
  padding: 0;
}

div p:nth-child(2){
  font-weight: 200;
  color: rgb(203, 211, 231);
}
