body {
    padding: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 40%;
    margin: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    border: 1px solid red;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    border: 1px solid red;
    display: block;
}