* {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  border-top-width: 2rem;
  border-top-color: darkblue;
}
main {
  display: flex;
  flex-wrap: wrap;
}
main > * {
  flex-basis: 35rem;
  flex-grow: 1;
}
section + section {
  background: red;
}
section:nth-of-type(3) {
  background: purple;
}
section {
  background: yellow;
}
form {
  background: lightblue;
  /*width: 100vw;*/
}
code {
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
  font-weight: 200;
}
@media (min-width: 1200px) {
  article {
      order: 1;
  }
  section:nth-child(3) {
      order: 2;
  }
  form {
      order: 4;
  }
}