h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin:0;
}

header {
  border: 3px solid rgb(34, 0, 255);
  background-color: #333;
  color: #fff;
  padding: 20px;
}

main {
  flex-grow: 1; 
  padding: 20px;
  flex-shrink: 0;
  flex-basis: auto;
  color: red;
  align-self: flex-end;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}