/* BEST PRACTICE from here */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/* BEST PRACTICE to here */

section {
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  flex: 1;
}

article {
  margin: 2px 10px;
  max-width: 100%; 
  box-sizing: border-box; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  text-align: center;
  color: red;
}

article img {
  max-width: fit-content;
  height: auto;
}

p {
  text-align: center;
  max-width: fit-content;
  height: auto;
}

@media (max-width: 600px){
  li {
    flex-basis: 100%;
  }
}